<div class="highdiv">
  <div class="ui centered card">
    <% if User.find(@id)%>
    <div class="cardbox">
      <center><img  class="posterimage" src=<%= User.find(@id).image %>></center>
    </div>
    <div class="content">
      <a class="header"><p class = "username"> <%= User.find(@id).user_name %> </p></a>
      <p class = "header"> Email: <%= User.find(@id).email %> </p>
      <p class = "header"> Is <%= User.find(@id).age %> Years Old</p>
      <p class = "header"> Brand: <%= User.find(@id).bio %> </p>
      <p class = "header"> Account Created on: <%= User.find(@id).time %> </p>
    </div>
    </div>
    <% end %>
  </div>
  <br>





<div class="div">


  <div class="ci segments">
    <% @posts.each do |post| %>
    <div class="ui secondary segment">
      <div class="ui segment">
        <p><img  class="posterimage" src=<%=post.user.image%>></p>
        <p class = "username"> <%= post.user.user_name %> </p>
      </div>
      <p class = "username"><%= post.content %></p>
      <form class="" action="/comment/<%= post.id %>" method="post">
        <input name="content" rows="" cols="" value = ""></input>
        <input class="ui primary button" type="submit" value="comment" />
      </form>
      <div class="comment">
        <% post.comments.each do |comment|%>
        <br><a class="avatar">
          <img class = "posterimage2" src=<%= comment.user.image%>>
        </a>
        <div class="content">
          <a class="author"><%= comment.user.user_name %></a>
          <div class="metadata">
            <span class="date"><%= comment.time %></span>
          </div>
          <div class="text">
            <p class="commenttext"><%= comment.content %></p><br>
            <% if session[:user_id] == comment.user.id%>
          </div><a id = "commentbutton" href="/comment/<%= comment.id %>" class="ui primary button"> DELETE </a>
          <% end %>
        </div>
        <br>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div><br>
