<div class="div homeform">
  <form class="placeholder"action="/user/posts" method="post">
    <textarea id="postbox" name="content" rows="Write a blog" cols="" value = ""></textarea>
    <input class="ui primary button" type="submit" value="Post" />
  </form>
</div>
  <div class="div">

  <div class="ci segments">
    <% @all_posts.each do |post| %>
      <div class="ui secondary segment">
        <div class="ui segment">
          <p><img  class="posterimage" src=<%= post.user.image %>></p>
         <a href = "/user/<%= post.user.id%>" <p class = "username"> <%= post.user.user_name %> </p></a>
        </div>
        <p class = "username"><%= post.content %></p>
        <% if session[:user_id] == post.user.id  %>
        <p> <a href="/post/delete/<%= post.id %>" class="ui primary button"> DELETE </a> </p>
        <% end %>
        <form class="" action="/post/<%= post.id %>/comments" method="post">
          <input name="content" rows="" cols="" value = ""></input>
          <input class="ui primary button" type="submit" value="comment" />
          <hr>
        </form>
        <div class="comment">
          <% post.comments.each do |comment|%>
            <br><a class="avatar">
              <img class = "posterimage2" src=<%= comment.user.image%>>
            </a>
            <div class="content">
              <a class="author" href = "/user/<%= comment.user.id%>"><%= comment.user.user_name %></a>
              <div class="metadata">
                <span class="date"><%= comment.time %></span>
              </div>
              <div class="text">
                <p class="commenttext"><%= comment.content %></p><br>
                <% if session[:user_id] == comment.user.id%>
                  <a id = "commentbutton" href="/comment/delete/<%= comment.id %>" class="ui primary button"> DELETE </a>
                <% end %>
              </div>
              <br>
            </div>
          <% end %>
        </div>
    </div>
    <% end %>
  </div>
</div>
